@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.about-div{
    width: 100%;
    height: 49.25rem;
    padding-top: 9rem;

}


.name{
    margin: 15px auto 0;
    font-size: 6rem;
    color: #222222;
    padding: 1rem 0 1rem;
    font-family: 'Aboreto', cursive;
    text-align: center;
    animation: flip 5s ease infinite;
    border-radius: 2rem;
    border-bottom: 3px solid #6D9886;
    width: 45rem;
}

.front-developer{
    margin: 13px auto 0;
    font-size: 2rem;
    color: #222222;
    border-radius: 2rem;
    padding: 1rem 0 1rem;
    font-family: 'Aboreto', cursive;
    text-align: center;

}

.icon{
    width: 5rem;
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

span{
    font-family: 'Playfair Display', serif;
    margin-left: 10px;
    color:#222222;
    font-size:  1.25rem;


}
.inside-span{
    font-size:  1.25rem;
    padding: 10px 0;
    margin: 2rem 14rem;
    font-family: 'Playfair Display', serif;
    /* color: #28282B; */
    color: #222222;
    text-align: center;
}



.resume-button{
    width: 8rem;
    height: 50px;
    border: none;
    border-radius: 2rem;
    color: #F9F5EB;
    margin: 0 1.5rem;
    background-color: #6D9886;
    display: block;
    margin: 2rem auto 0;


}

.resume-button:hover{
    background-color: #243e7e;

}


.resume-button a{
    color: #F9F5EB;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;

}

.resume-button:hover a{
    color: #F9F5EB; 
}




.myName{
    font-weight: 800;
    color: black;
}



.about-me-info{
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    padding-top: 10px;
    /* color: #28282B; */
    color: #222222;

}



.left{
    padding-top: 60px;
}


.div-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #222222;
    opacity: 0.8;
    border-radius: 15px;
    /* transform: rotate(25deg); */
    
}


.web{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: auto;


}

.animated-icon{
    position: relative;
    animation-name: scalelogo,App-logo-spin-y;
    animation-duration: 15s, 13s;
    animation-iteration-count: infinite,infinite;
    transition-timing-function: ease-in-out;
}

.react{
    left: 18rem;
    top: 8rem;
}
.git{
   left: 2rem;
}

.api{
    left:14rem;
    bottom: 2rem;

}

@keyframes App-logo-spin-y {
    0% {
      transform: rotate(360deg);
    }
  
    50%{
      transform: rotate(0deg);
  
    }
    100%{
      transform: rotate(360deg);
  
    }
  }
  
  
  @keyframes scalelogo {
    0%{
      scale: 0.7;
    }
    50%{
      scale: 1.4;
    }
    70%{
      scale: 1.6;
    }
  }


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .name{
        margin-top: 8px;
        font-size: 3rem;
        width: 20rem;
    
    }
    .icon{
    width: 3rem;
}

.front-developer{
    font-size: 1.5rem;
}

.about-me-info{
    width: 18rem;
    font-size: 1.25rem;
    padding-top: 20px;
    color:#28282B;
}



.div-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #243e7e;
    opacity: 0.8;
    border-radius: 15px;
    transform: rotate(25deg);
    
}


.web{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: auto;


}


 }




 @media (max-width: 1180px) {
 .div-bg{
    transform: rotate(0deg);

 }
 .right{
     margin-right: 70px;
     /* margin-top: 90px; */
 }



 @media (max-width: 768px) {

    .about-div{
        /* padding-top: 100px; */
    }
   
    .inside-span{
        width: 27rem;
        margin: 0 auto;
        font-size: 1.25rem;

    }
    .name{
        /* margin-top: 8px; */
        font-size: 3rem;
        width: 20rem;
    
    }
    .icon{
        width: 3rem;
    }



    
 }
   

 @media (max-width: 912px) {

    .about-div{
        /* padding-top: 80px; */
    }
   

     .div-bg{
         width: 300px;
         height: 300px;
     }

  

 }
}

@media(min-width: 395px)and(max-width: 940px) {

    .name{
        text-align: start;

    }
    .inside-span{


    }
     }

     @media (max-width: 575.98px) { 
        .project{
            margin-top: 8px;
            font-size: 4.375rem;
        
        }
        .inside-span{
            width: 18rem;
        }
    }
    