@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&family=Permanent+Marker&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');



  #about{
      display: flex;
      flex-wrap: wrap;
      background-color: #f1f1eb;
  }

  #about>div{
      flex: 1;
  }

.about-div{
    width: 100%;
    padding: 5rem 4rem 4rem;
}

.welcome-message{
    font-size: 6rem;
    /* color: #6D9886; */
    color: #28282B;
    margin-top: 4rem;
    font-family: 'Playfair Display', serif;
          text-align: center;  
          animation: flip 5s ease infinite;


}

.social-media-links-all{
    background-color: #f1f1eb;
    display: flex;
    justify-content: center;

    
}

.name{
    /* animation: coming 5s ease-in; */
    margin: 15px auto 0;
    font-size: 3rem;
    color: #222222;
    font-family: 'Playfair Display', serif;
    border-radius: 2rem;
    border-bottom: 3px solid #6D9886;
    width: 29rem;
    text-align: center;

}

@keyframes coming {
   from{
    transform: rotateX(0deg);

   }
   to{   
    transform: rotateX(70deg);
}}

.front-developer{
    margin: 13px auto 0;
    font-size: 2rem;
    color: #222222;
    border-radius: 2rem;
    padding: 1rem 0 1rem;
    text-align: center;
    font-weight: 200;

}

.icon{
    width: 5rem;
}

.nazrin-image{
    width: 8rem;
    display: block;
    margin: 0 auto;
    /* animation-name: scalelogo;
    animation-duration: 15s, 13s;
    animation-iteration-count: infinite,infinite;
    transition-timing-function: ease-in-out; */
    /* border-radius: 50%; */
    /* animation-name: scalelogo;
    animation-duration: 15s, 13s;
    animation-iteration-count: infinite,infinite;
    transition-timing-function: ease-in-out; */
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

span{
    font-family: 'Playfair Display', serif;
    margin-left: 10px;
    color:#222222;
    font-size:  1.25rem;


}
.inside-span{
    font-size:  1.25rem;
    padding: 16px 0;
    margin: 4rem;
    font-family: 'Playfair Display', serif;
    /* color: #28282B; */
    color: #222222;
    text-align: center;
}



.resume-button{
    width: 8rem;
    height: 50px;
    border: 0.2rem solid #0A2647;
    color: #0A2647;
    margin: 0 1.5rem;
    background-color: #ffffff;
    display: block;
    margin: 2rem auto 0;

}


.for-linkedin-logo{
    margin-right: 1rem;
}

/* .resume-button:hover{
    background-color: #243e7e;

} */


.resume-button a{
    color: #0A2647;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;

}

.resume-button:hover a{
    color: #6D9886; 
}




.myName{
    font-weight: 800;
    color: black;
}



.about-me-info{
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    padding-top: 10px;
    /* color: #28282B; */
    color: #222222;

}



.left{
    padding-top: 60px;
}


.div-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #222222;
    opacity: 0.8;
    border-radius: 15px;
    /* transform: rotate(25deg); */
    
}


.web{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: auto;


}

.animated-icon{
    position: relative;
    animation-name: scalelogo,App-logo-spin-y;
    animation-duration: 15s, 13s;
    animation-iteration-count: infinite,infinite;
    transition-timing-function: ease-in-out;
}

.react{
    left: 2rem;
    top: 2rem;
}
.git{
   left: 2rem;
}

.api{
    bottom: 2rem;
    left:6rem;

}

@keyframes App-logo-spin-y {
    0% {
      transform: rotate(360deg);
    }
  
    50%{
      transform: rotate(0deg);
  
    }
    100%{
      transform: rotate(360deg);
  
    }
  }
  
  
  @keyframes scalelogo {
    0%{
      scale: 0.7;
    }
    50%{
      scale: 1.3;
    }
    70%{
      scale: 1.5;
    }
    100%{
      scale: 0.7;

    }
  }


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .name{
        margin-top: 8px;
        font-size: 3rem;
        width: 20rem;
    
    }
    .icon{
    width: 3rem;
}

.welcome-message{
    font-size: 3rem;

}

.front-developer{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;

}

.about-me-info{
    width: 18rem;
    font-size: 1.25rem;
    padding-top: 20px;
    color:#28282B;
    text-align: center;
}



.div-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #243e7e;
    opacity: 0.8;
    border-radius: 15px;
    transform: rotate(25deg);
    
}


.web{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: auto;


}


 }




 @media (max-width: 1180px) {
 .div-bg{
    transform: rotate(0deg);

 }
 .right{
     margin-right: 70px;
     /* margin-top: 90px; */
 }



 @media (max-width: 789px) {

    .about-div{
        padding: 5rem 2rem ;
    }
   
    .inside-span{
        width: 32rem;
        margin: 0 auto;
        font-size: 1.25rem;
        text-align: center;

    }
    .name{
        /* margin-top: 8px; */
        font-size: 3rem;
        width: 20rem;
    
    }
    .icon{
        width: 3rem;
    }



    
 }
   

 @media (max-width: 912px) {

    .about-div{
        /* padding-top: 80px; */
    }
   

     .div-bg{
         width: 300px;
         height: 300px;
     }

  

 }
}

@media(max-width: 940px) {

 
        .inside-span{
            width: 32rem;
            margin: 0 auto;
            font-size: 1rem;
    
        }

    
     }

     @media (max-width: 575.98px) { 
        .project{
            margin-top: 8px;
            font-size: 4.375rem;
        
        }
        .inside-span{
            width: 19rem;
        }
    }
    