@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

img{
    width: 40px;
}

.contact-div{
/* width: 100%; */
padding-top: 3rem;
background-color: #222222;
padding-bottom: 3rem;
margin-bottom: 0!important;
height: 35rem;
margin-top: 3rem;
}



.link-icon a, .link-icon p{
    text-decoration: none;
    padding-right: 0.4rem;
    font-size: 1.25rem;
    color: #ece7e1;
    text-align: center;

}

.link-icon p{
    font-family: 'Aboreto', cursive;
}

.link-icon a{
    /* text-decoration: underline; */
    text-align: center;
}

.link-icon a:hover{
    color: #ece7e1;
}

.contact-header{
    margin: 1rem auto 0;
    padding: 0 0 1rem;
    font-size: 3rem;
    color: #ece7e1;
    font-family: 'Aboreto', cursive;
    text-align: center;

}

.all-links-div{
    margin-top: 5rempx;
    padding-bottom: 50px;
}
.contact-info{
    color:#ece7e1;
    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
    text-align: center;

}

.logo{
    border-radius: 10px;
    width: 3rem;
}


.for-linkedin-logo{
    width: 3rem;
    height: 3rem;
    background-image: url('../images/linkedin.png');
    background-size: contain;
    background-color: #F9F5EB;
    border-radius: 12px;
}
.for-github-logo{
    width: 3rem;
    height: 3rem;
    background-image: url('../images/github-sign.png');
    background-size: contain;
    background-color: #F9F5EB;
    border-radius: 12px;
}

.for-twitter-logo{
    width: 3rem;
    height: 3rem;
    background-image: url('../images/twitter-sign.png');
    background-size: contain;
    background-color: #F9F5EB;
    border-radius: 12px;
        margin-left: 1rem;
}

.social-media-links{
    display: flex;
    justify-content: center;
}



.for-github-logo:hover, .for-linkedin-logo:hover, .for-twitter-logo:hover{
    background-color: #6D9886;

}


.email{
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 1.25rem;
    line-height: 2.8rem;

}
.arrow{
    width: 1.5rem;
    animation-name: App-logo-spin-x;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-out;
}

.footer{
    background-color: black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    color: #F9F5EB;
    text-align: center;
    font-family: 'Playfair Display', serif;

}

@keyframes App-logo-spin-x {
    50% {
      transform: translate(0,10px);
    }

  }
  




@media (max-width: 768px) { 

    .contact-header{
        padding-top: 20px;
        font-size: 3rem;
        padding-bottom: 25px;

 
    
    }

    
.all-links-div{
    display: inline;
}

.link-icon{
    justify-content: center;
    font-size: 18px;
}
.link-icon a{
    font-size: 18px;

}

}




@media (min-width: 575.98px) and (max-width: 940px) { 

.all-links-div{
display: inline;
}


.all-links-div{
    display: inline;
}

.link-icon{
    font-size: 1.25rem;
}
.link-icon a{
    font-size: 18px;
    color: #F9F5EB;


}




}

