@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

img{
    width: 40px;
}
#nazrin-img{
    border-radius: 50%;
    width: 93px;
height: 93px;

}

#info-button-div{
display: flex;
}

.contact-div{
padding: 6rem 0 4rem 0;
margin-top: 3rem;
margin-left: 60px;
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
}

.contactHeader{
    display: flex;
}

#contact-button{
    width: 163px;
    height: 48px;
    background-color: #2D2D2C;
    font-family: Inter;
    color: #ffff;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.10000000149011612px;
text-align: center;
border-radius: 100px;
border: none;

}




.contact-info{
    font-family: Inter;
    font-size: 104px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 1161px;
    
    


}

.logo{
    border-radius: 10px;
    width: 3rem;

}


.for-linkedin-logo{
    width: 24px;
    height: 24px;
    background-image: url('../images/linkedin.png');
    background-size: contain;
    background-color: #F9F5EB;
    
}
.for-github-logo{
    width: 24px;
    height: 24px;
    background-image: url('../images/github-sign.png');
    background-size: contain;
    background-color: #F9F5EB;
    border-radius: 12px;
}

.for-twitter-logo{
    width: 3rem;
    height: 3rem;
    background-image: url('../images/twitter-sign.png');
    background-size: contain;
    background-color: #F9F5EB;
    border-radius: 12px;
        margin-left: 1rem;
}

.social-media-links{
    display: flex;



}

.social-media-links a{
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D2D2C;
    text-decoration: none;
    margin-right: 25px;
}


.for-github-logo:hover, .for-linkedin-logo:hover, .for-twitter-logo:hover{
    background-color: #ECF2FF;


}


.email{
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: block;
    font-size: 1.25rem;
    line-height: 2.8rem;
    /* border: 1px solid #222222;
    background-color: #ece7e1; */
    color: #222222;


}




.footer{
    background-color: #f1f1eb;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 63px;
}

.credits{
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    color: #2D2D2C;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: center;
    
    background-color: #f1f1eb;


}


@keyframes App-logo-spin-x {
    50% {
      transform: translate(0,10px);
    }

  }
  




@media (max-width: 768px) { 

    .contact-header{
        font-size: 3rem;


        
 
    
    }

    
.all-links-div{
    display: inline;
    margin-top: auto;
}

.link-icon{
    justify-content: center;
    font-size: 18px;
    
}
.link-icon a{
    font-size: 18px;

}

}




@media (min-width: 575.98px) and (max-width: 940px) { 

.all-links-div{
display: inline;
}


.all-links-div{
    display: inline;
}

.link-icon{
    font-size: 1.25rem;
}
.link-icon a{
    font-size: 18px;
    color: #F9F5EB;


}




}

