@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

li{
    list-style: none;
    color: #f2f2f2;
    


}
a{
  color: #f2f2f2;
}



/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  margin-bottom: 3rem;
  height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    /* background-color: #003B46; */
    overflow: hidden;
    text-align: center;
    z-index: 50;
  }


  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Aboreto', cursive;
    ;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #6D9886;
    transform: scale(1.2);

  }
  


  /* Add an active class to highlight the current page */

  
  @media (max-width: 360px) { 
    .topnav a {
      font-size: 7px;
      ;
    }
    
}



  @media(min-width: 360px) and (max-width: 768px) { 
    .topnav a {
      font-size: 12px;
      ;
    }
    
}
