.project {
    color: var(--black-60, #2D2D2C);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
    text-transform: uppercase;

}
.experiences-div{
    padding: 0 63px;
}

.cont{
    margin: 0;
    padding: 0;
}

.projects-div{
    padding-top: 0.5rem;
    padding-bottom: 108px;
    padding-left: 63px;
}

.icon{
    width: 3rem;

}

.project-icon{
    width: 3rem;

    /* animation: rotateIcon 10s infinite linear; */

}
@keyframes rotateIcon {
   from  {
       transform: rotate(0deg);
   }
   to {
    transform: rotate(360deg);
   }
}

.github-link{
    text-align: center;
    color: #0A2647;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin: auto;
    border: 0.2rem solid #0A2647;

}
.github-link a, .github-link a:hover {
    color: #28282B;
    text-decoration: none;

}

.github-link{
    width: 190px;
    padding: 0.3rem;
    /* display: block; */

}


.github-link:hover{
    border-color:  #0A2647;

    
}



@media (max-width: 575.98px) { 
    .project{
        margin-top: 8px;
        font-size: 3rem;
        width: 20rem;

    
    }

    .icon{
        width: 3rem;
    }
}
@media (max-width: 772px) { 
    .project{
        margin-top: 8px;
        font-size: 3rem;
        width: 20rem;

    
    }

    .icon{
        width: 3rem;
    }
}




@media(min-width: 575.98px)and(max-width: 940px) {


     }



/* details>summary{
    list-style: none;
    padding: 1rem 3rem;
    color: #4b4b4f;
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    margin-top: 1.2rem;
    border-color: #222222;
    border-bottom: 0.1rem solid #222222;
} */

details{
    margin-bottom: 2.3rem;
}

.experiences-div{
    margin-bottom: 4rem;
}

summary{
    padding-bottom: 32px;
    list-style: none;
    border-bottom: 0.5px solid var(--beige-60, #B4B2B1);
    color: var(--black-60, #2D2D2C);
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 56px; /* 116.667% */
letter-spacing: -1.44px;
text-transform: uppercase;
}

.summary-paragraph{
    margin: 1rem 0;
    color: #4b4b4f;
    padding: 0 3rem;

    font-family: 'Playfair Display', serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1rem;
    text-align: start;
}     

summary >span {
    color: var(--black-60, #2D2D2C);
font-family: Inter;
font-size: 24px;
font-style: italic;
font-weight: 300;
line-height: 32px; /* 133.333% */
letter-spacing: -0.72px;

}