.project {
    font-size: 3rem;
    /* color: #28282B; */
    color: #222222;
    font-family: 'Aboreto', cursive;
    margin:0 auto 5rem;
    text-align: center;
    border-bottom: 3px solid #6D9886;
    border-radius: 2rem;
    width: 29rem;


}

.projects-div{
    padding-top: 4.2rem;
    padding-bottom: 108px;
}

.icon{
    width: 3rem;

}

.project-icon{
    width: 3rem;

    /* animation: rotateIcon 10s infinite linear; */

}
@keyframes rotateIcon {
   from  {
       transform: rotate(0deg);
   }
   to {
    transform: rotate(360deg);
   }
}

.github-link{
    text-align: center;
    color: #0A2647;
    font-size: 1.7rem;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin: 2rem auto;
}
.github-link a, .github-link a:hover {
    color: #28282B;
    text-decoration: none;

}

.github-link{
    border-bottom: 2px solid #6D9886;
    width: 190px;
    /* display: block; */

}


.github-link:hover{
    border-color:  #0A2647;

    
}

.cart{
    margin: 3rem auto;
}


@media (max-width: 575.98px) { 
    .project{
        margin-top: 8px;
        font-size: 3rem;
        width: 20rem;

    
    }

    .icon{
        width: 3rem;
    }
}
@media (max-width: 768px) { 
    .project{
        margin-top: 8px;
        font-size: 3rem;
        width: 20rem;

    
    }

    .icon{
        width: 3rem;
    }
}




@media(min-width: 575.98px)and(max-width: 940px) {


     }