.cart{
    padding:  3rem;
    margin-bottom: 3rem;    
    display: flex;
    flex-wrap: wrap;

}


.image-div{
    flex: 2;
}

.info-div{
    flex: 1;
}

.image:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}



.tools-used{
    margin: 1.5rem 0 0 0;

}
.logo:not(:first-child){
    margin: 0 0.3rem;
}
.logo:first-child{
    margin-right: 0.3rem;
}


.title{
    margin-left: 0;
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    /* color: #0A2647; */
    color: #003B46;
    font-weight: 800;
    text-align: start;

}
.info{
    margin: 2rem 0;
    color: #4b4b4f;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1rem;
    text-align: start;



}



.see-projects-button{
    width: 8rem;
    height: 50px;
    border: none;
    border-radius: 0.1rem;
    color: #F9F5EB;

}




.demo{
    background-color: #6D9886;
}

.code{
    background-color: #ffffff;
    border: 0.2rem solid #0A2647;
    color: #0A2647;


}

.code a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: #0A2647;

}

.code:hover a{
    color: #6D9886; 
}




.image{
width: 80%;
box-shadow: 1px 1px 13px #888888;



}


@media (max-width: 724.98px) { 
    .image-div, .info-div{
        width: 23.2rem;

    }
    .image{
        width: 20rem;

    }
    
    .info-div{
        margin-left: 0;
        padding-top: 1rem;


    }


    .info{
        width: 20.2rem;
        margin: 1.2rem auto;
        }

    .cart{
        width: 20rem;

    }



}