.cart{
    margin-bottom: 3rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


/* .image-div{
    flex:2
}

*/
.info-div{
    flex: 1;
} 

.image:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}



.tools-used{
    margin: 1.5rem 0 0 0;

}
.logo:not(:first-child){
    margin: 0 0.3rem;
}
.logo:first-child{
    margin-right: 0.3rem;
}


.title{
    color: var(--black-60, #2D2D2C);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 70.4px; /* 110% */
    letter-spacing: -1.92px;
    text-transform: uppercase;

}
.info-first{
    color: var(--black-60, #2D2D2C);
font-family: Inter;
font-size: 64px;
font-style: italic;
font-weight: 300;
line-height: 70.4px;
letter-spacing: -1.92px;
text-transform: uppercase;
}
.info{
    color: var(--black-50, #575756);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */



}



.see-projects-button{
    width: 8rem;
    height: 50px;
    border: none;
    border-radius: 0.1rem;
    color: #F9F5EB;

}




.demo{
    background-color: #6D9886;
}

.code{
    background-color: #ffffff;
    border: 0.2rem solid #0A2647;
    color: #0A2647;


}

.code a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: #0A2647;

}

.code:hover a{
    color: #6D9886; 
}




.image{
    width: 608px;
    height: 590px;



}


@media (max-width: 724.98px) { 
    .image-div, .info-div{
        width: 23.2rem;

    }
    .image{
        width: 20rem;

    }
    
    .info-div{
        margin-left: 0;
        padding-top: 1rem;


    }


    .info{
        width: 20.2rem;
        margin: 1.2rem auto;
        }

    .cart{
        width: 20rem;

    }



}